* {
    margin: 0em;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 200;
    src: url("fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"), url("fonts/Montserrat/Montserrat-ExtraLight.ttf") format("ttf");
}

@font-face {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: 300;
    src: url("fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url("fonts/Raleway/Raleway-Regular.woff2") format("woff2"), url("fonts/Raleway/Raleway-Regular.woff") format("woff"), url("fonts/Raleway/Raleway-Medium.ttf") format("ttf");
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url("fonts/Raleway/Raleway-Medium.woff2") format("woff2"), url("/fonts/Raleway/Raleway-Regular.woff") format("woff"), url("/fonts/Raleway/Raleway-Regular.ttf") format("ttf");
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url("fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("fonts/Raleway/Raleway-Bold.woff") format("woff"), url("fonts/Raleway/Raleway-Bold.ttf") format("ttf");
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto/Roboto-Regular.woff") format("woff"), url("fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}

.welcome {
    background-image: url(img/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 1920px;
}

.cover {
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    height: 100vh;
}

.navbar-logo {
    display: flex;
}

.sticky {
    position: sticky;
    top: 0px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-top: 35px;
}

.Waxom {
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    padding-top: 50px;
    padding-left: 2px;
}

.navbar-links {
    display: flex;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.navbar-item {
    padding-right: 30px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
}

.navbar-link:link {
    text-decoration: none;
    color: white;
}

.navbar-link:visited {
    text-decoration: none;
    color: white;
}

.navbar-link:hover {
    text-decoration: none;
    color: #c7b299;
}

.navbar-link:active {
    text-decoration: none;
    color: #c7b299;
}

.cart {
    margin-left: 63px;
    margin-top: 55px;
}

.cart:hover {
    filter: invert(85%) sepia(15%) saturate(430%) hue-rotate(352deg) brightness(83%) contrast(91%);
}

.search {
    margin-top: 55px;
    margin-left: 24px;
}

.search:hover {
    filter: invert(85%) sepia(15%) saturate(430%) hue-rotate(352deg) brightness(83%) contrast(91%);
}

.slider {}

.slider-wrapper {
    padding-top: 285px;
    display: flex;
    justify-content: space-around;
}

.slider-arrow {
    border: 0;
    background: transparent;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.text-design {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 14px;
}

.text-portfolio {
    color: #ffffff;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700;
    padding-bottom: 19px;
}

.text-text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 52px;
}

.text-button {
    padding: 21px 39px 21px 37px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
}

.content {
    background-color: white;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
}