* {
  margin: 0;
  box-sizing: border-box;
}
$space-m: 16px;

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 300;
  src: url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../fonts/Raleway/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../fonts/Raleway/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: url("../fonts/Raleway/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-ExtraBold.woff") format("woff"),
    url("../fonts/Raleway/Raleway-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 40px;

  &-logo {
    display: flex;
  }
  &-title {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    padding-top: 15px;
    line-height: 100%;
  }

  &-links {
    display: flex;
  }

  &-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  &-item {
    padding-right: 30px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    padding-top: 22px;
  }

  &-icons {
    padding: 15px 0 0 63px;
  }

  &-cart {
    margin-right: 28px;
    fill: #ffffff;
  }

  &-shop {
    fill: #ffffff;
  }

  &-cart:hover {
    fill: #c7b299;
  }

  &-shop:hover {
    fill: #c7b299;
  }

  &-cart:active {
    fill: #c7b299;
  }

  &-shop:active {
    fill: #c7b299;
  }

  &-link:link {
    text-decoration: none;
    color: white;
  }

  &-link:visited {
    text-decoration: none;
    color: white;
  }

  &-link:hover {
    text-decoration: none;
    color: #c7b299;
  }

  &-link:active {
    text-decoration: none;
    color: #c7b299;
  }
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 500px) {
  .navbar-links {
    display: none;
  }

  .navbar-logo {
    margin-left: 15px;
  }

  .hamburger-menu {
    display: revert;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 60px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }
  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu-tem:hover {
    background-color: #cfd8dc;
  }
}
