* {
  margin: 0;
  box-sizing: border-box;
}

.mobile {
  padding-top: 80px;

  &-wrapper {
    display: flex;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
  }
  &-title {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 40px;
  }

  &-text {
    color: #8c8c8c;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    padding-bottom: 45px;
  }
  &-list {
    list-style-type: none;
    color: #8c8c8c;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
  }

  &-list-item {
    position: relative;
    padding-left: 100px;
  }

  &-list-item:before {
    background: transparent url("../img/mobile-devices.png") scroll 0 0
      no-repeat;
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    left: 50px;
    top: 2px;
  }
}

@media screen and (max-width: 500px) {
  .iphone {
    display: none;
  }
  .mobile {
    padding-top: 40px;
    padding-bottom: 40px;

    &-title {
      text-align: left;
      padding-left: 25px;
    }
    &-text {
      text-align: left;
      padding-left: 25px;
      padding-right: 25px;
    }

    &-list-item {
      position: relative;
      padding-left: 85px;
      padding-right: 20px;
    }

    &-list-item:before {
      background: transparent url("../img/mobile-devices.png") scroll 0 0
        no-repeat;
      content: "";
      width: 21px;
      height: 21px;
      position: absolute;
      left: 30px;
      top: 2px;
    }
  }
}
