* {
  margin: 0 auto;
  box-sizing: border-box;
}
.recent-posts {
  &-title {
    color: #555555;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 23px;
  }

  &-text {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    padding-bottom: 40px;
    max-width: 757px;
    margin: 0 auto;
  }
}
