$desktop-width: 1920px;
$desktop-height: 1024px;

* {
  margin: 0;
  box-sizing: border-box;
}

.services {
  padding-top: 90px;
  background-color: white;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
  }

  &-segment {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: center;
  }

  &-segment:hover &-title {
    color: #c7b299;
  }

  &-segment:hover &-text {
    color: #c7b299;
  }

  &-segment:hover &-line {
    border-color: #c7b299;
  }

  &-segment:hover &-img {
    filter: invert(76%) sepia(31%) saturate(220%) hue-rotate(352deg)
      brightness(90%) contrast(89%);
  }

  &-title {
    color: #555555;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 19px;
    margin-top: 24px;
  }

  &-text {
    color: #8c8c8c;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding-bottom: 33px;
  }

  &-line {
    border-bottom: 3px solid #f1eee9;
    width: 70px;
    margin-bottom: 80px;
  }
}

@media (max-width: 500px) {
  .services-wrapper {
    flex-direction: column;
  }

  .services-text {
    max-width: 300px;
  }
  .services-segment {
    width: 100%;
    margin-bottom: 25px;
  }
}
